.wrapper {
	background: url('../img/bg-desc.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-bock {
	position: relative;
	top: -150px;
	background: #4b4b4b;
	max-width: 768px;
	margin: 0 auto;
	border-radius: 15px;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -moz-transform: rotate(-1.5deg); 
    -ms-transform: rotate(-1.5deg); 
    -webkit-transform: rotate(-1.5deg); 
    -o-transform: rotate(1.5deg); 
    transform: rotate(-1.5deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.nav-phot {
	display: block;
	height: 100px;
	float: left;
	border-right: 1px solid #353535;
}

.top-menu-image {
	width: 50px;
	height: 50px;
}

.nav-list {
	float: left;
}

.nav-list li {
	float: left;
}

.nav-list li:first-child  a{
	padding: 10px 9px 5px;
	border-left: none;
}

.nav-list li:last-child a {
	border: none;
}

.nav-list a {
	display: block;
	text-decoration: none;
	color: #fff;
	font: 14px Arial;
	text-transform: uppercase;
	text-align: center;
	border-left: 1px solid #565656;
	border-right: 1px solid #353535;
	padding: 25px 22px 26px;
}

.content {
	max-width: 768px;
	margin: 30px auto 0;
	opacity: 0;
	-webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.description-section {
	border-bottom: 3px solid #e89418;
	margin: 0 0 20px;
	padding: 20px 10px 20px;
	background-color: rgba(225, 225, 225, .9);
	border-radius: 15px;
}

.section-title {
	font: 20px/1.2 Tahoma, sans-serif;
	color: #A66300;
	margin: 0 0 15px;
}

.description-section-list {	
	padding: 0 0 20px 15px;
}

.description-section-list li {
	list-style: url('../img/checked.png') outside;
	color: #A66300;
}

.description-section-list span {
	color: #000;
	font-family: Tahoma, sans-serif;
}

.description-section-table tr td:first-child {
	width: 30%;
}

.description-section-table td {
	border: 2px solid #e89418;
	padding: 0 5px
}