
/*----------------CONTENT----------------*/

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
}

.wrapper:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.main-page-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.main_page_intro {
    position: relative;
    top: 0;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #ECB566;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    width: 100%;
    max-width: 750px;
    box-sizing: border-box;
    opacity: 0;
}

.main_page__photo {
	display: block;
	border-radius: 50%;
    float: left;
    margin: 30px 60px;
	height: 210px;
	width: 210px;
	background: url('../img/photo.png') no-repeat;
}

.main_page__inform {
	text-decoration: none;
    float: left;
}

.main_page__inform_h_titles {
    padding-left: 0px;
}

.main_page__phone,
.main_page__mail,
.main_page__skype {
	color: #8d9da2;
    height: 30px;
    margin: 12px 0 0 0;
    font: 23px 'Tahoma';
}

.main_page__name {
    font: 42px 'Tahoma';
    color: #8d9da2;
}

.main_page__vacancy {
	font: 19px 'Tahoma';
    color: #8d9da2;
}

.main_page__contact_info {
    text-align: left;
}

.main_page__phone:before,
.main_page__mail:before,
.main_page__skype:before {
	background: url('../img/sotial-sprite.png') no-repeat;
    content: "";
    display: block;
    float: left;
    width: 31px;
    height: 31px;
}

.main_page__phone:before {
    background-position: -65px 0;
}

.main_page__skype:before {
    background-position: -33px 0;
}

.main_page__phone_link,
.main_page__mail_link,
.main_page__skype_link {
    text-decoration: none;
    color: #8d9da2;
    padding-left: 7px;
}

.btn {
	margin: 35px 0;
	display: block;
	width: 277px;
	height: 69px;
    font: 27px/69px 'Tahoma';
    text-decoration: none;
    text-align: center;
	background-image: url('../img/btn-sprite.png');
    color: #fff;
}

.btn:hover {
background-position: 0 -71px;
}

.btn:active {
background-position: 0 -141px;
}


@media (max-width: 680px) {

    .main_page__photo {
        float: none;
        margin: 60px auto 40px;
    }

    .main_page__inform {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    .main_page__contact_info {
        margin: 0 auto;
    }

    .details-btn {
        margin: 35px auto;
    }
}
