@charset "UTF-8";
/*-----------------------------------------------------------------------------
 * Best Practice :: common.css
 * ----------------------------------------------------------------------------
 * Contents :
 *  1. RESET
 *  2. NORMALIZE
 *  3. GRID
 *  4. HELPER CLASSES
 *-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
 * 1. RESET
 *------------------------------------------------------------------------------*/
/* Let's default this */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure,
footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
    display: block;
}

/* Remove most spacing between table cells */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

ol, ul {
    list-style: none;
}

/**
 * Apply a natural box layout model to all elements:
 * (http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
 */
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*-----------------------------------------------------------------------------
 * 2. NORMALIZE
 *------------------------------------------------------------------------------*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
 * 3. Force a vertical scrollbar to prevent a jumpy page
 * (http://css-tricks.com/snippets/css/force-vertical-scrollbar/)
 */
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    overflow-y: scroll; /* 3 */
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body,
.wrapper {
    height: 100%;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Responsive images and other embedded objects
 * Note: keeping IMG here will cause problems if you're using foreground images as sprites.
 */
img,
object,
embed {
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
    display: none;
}

/* Remove the gray background color from active links in IE 10 */
a {
    background: transparent;
}

/* Improve readability when focused and also mouse hovered in all browsers */
a:active,
a:hover {
    outline: 0;
}

/* Address style set to `bolder` in Firefox 4+, Safari, and Chrome */
b {
    font-weight: bold;
}

/* Remove border when inside `a` element in IE 8/9/10 */
img {
    border: 0;
}

/* Correct overflow not hidden in IE 9/10/11 */
svg:not(:root) {
    overflow: hidden;
}

/**
 * 1. Correct color not being inherited.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

/* Address `overflow` set to `hidden` in IE 8/9/10/11 */
button {
    overflow: visible;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/* Re-set default cursor for disabled elements */
button[disabled],
html input[disabled] {
    cursor: default;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*-----------------------------------------------------------------------------
 * 2. GRID
 *------------------------------------------------------------------------------*/
.grid {
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid > [class*='col'] {
    float: left;
}

.grid > [class*='colp'] {
    padding-left: 2%;
}

.grid > [class*='colp']:first-child {
    padding-left: 0px;
}

/*-----------------------------------------------------------------------------
 * 3. HELPER CLASSES
 *------------------------------------------------------------------------------*/

/* .cf (clearfix) - clear floats */
.cf:before,
.cf:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.cf:after {
    clear: both;
}
.ie6 .cf {
    zoom: 1;
}

/* .pull-left/right */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* .clickable - hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button { cursor: pointer; }

/* .hidden / .visible */
.hidden {
    display: none;
    visibility: hidden;
}

.visible {
    display: block;
    visibility: visible;

